<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks</title>
    <!-- <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css"> -->
    <link rel="stylesheet" href="/css/h.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body>
    <%- include('header.ejs') %>
        <main>

            <h1>Home</h1>

            <div class="title-button-holder">
                <h2>Derniers artistes favoris</h2>
                <button><a href="/top-tracks">VOIR PLUS</a></button>
            </div>

            <div class="artists-container-home">
                <% Home_infos_artists_datas.forEach(artist=> { %>
                    <div class="artist-home">
                        <div class="artist-image">
                            <% if(artist.images.length> 0) { %>
                                <img src="<%= artist.images[0].url %>" alt="<%= artist.name %>">
                                <% } else { %>
                                    <img src="../images/user-defaut-pp.jpg" alt="<%= artist.name %>">
                                    <% } %>
                        </div>
                        <div>
                            <h2 class="artist-name">
                                <%= artist.name %>
                            </h2>
                        </div>
                    </div>
                    <% }); %>
            </div>

            <h2>Dernières musiques favorites</h2>

            <div class="artists-container-home">

                <% Home_infos_tracks_datas.forEach(track=> { %>
                    <div class="artist-home">
                        <div class="artist-image">
                            <% if(track.album.images[0].url){ %>
                                <img src="<%= track.album.images[0].url %>" alt="<%= track.name %>">
                                <% } else{ %>
                                    <img src="../images/user-defaut-pp.jpg" alt="<%= track.name %>">
                                    <% } %>
                        </div>
                        <div>
                            <a href="/track/<%= track.id %>">
                                <h2 class="artist-name">
                                    <%= track.name %>
                                </h2>
                            </a>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </main>


        <script src="../test/h.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>